{
  "tabWidth": 4,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": "*.json",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
